* {
  border: 1px solid red;
}

p {
  color: green;
}

h1 {
  color: maroon;
}

.title {
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

#article-title {
  font-family: cursive;
}

a[href*='Barcelona'] {
  color: red;
}

a[href*='Real Madrid'] {
  color: lightblue;
}

a[href*='Bayern Munich'] {
  color: lightred;
}

a:hover {
  color:darkorange;
}

.heading-background {
  background-color: white;
}

#publish-time {
  color: gray;
}

h5 {
  color: black;
}

.author-class {
  color: black;
}

#author-id {
  color: black;
}

h2.destination {
  font-family: Tahoma;
}

.description h5 {
  color: black;
}

li h4 {
  color: black;
}

h4 {
  color: black;
}

li,
h5 {
  font-family: monospace;
}

